@{
    Style.Require("CookiePolicy");
    Script.Require("CookiePolicy");
}
<div class="js-widget-cookie-policy js-hide">
    <span class="widget-cookie-policy__text">Cookie Policy description.</span>
    <span class="widget-cookie-policy__close js-cookie-policy-close">X</span>
</div>