@using Orchard.ContentManagement
@using Moov2.Orchard.CookiePolicy.Models

@{
    Style.Require("CookiePolicy");
    Script.Require("CookiePolicy");

    var description = WorkContext.CurrentSite.As<CookiePolicySettingsPart>().Description;

}

@if (!string.IsNullOrEmpty(description)) {
    <div class="widget-cookie-policy-wrapper js-widget-cookie-policy js-hide">
        <span class="widget-cookie-policy__text">@Html.Raw(description)</span>
        <span class="widget-cookie-policy__close js-cookie-policy-close">X</span>
    </div>
}